<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.dao.StudyDao">
<!-- 根据学生的id寻找对应的课程信息   这边是一个学生id拿到多个对应的课程信息 -->
	<select id="findStudentId" resultType="int">
		select courseId 
		from
		tb_student_course 
		where studentId=#{studentId}
	</select>

	<resultMap id="findCourse"
		type="com.student.po.StudentCourse">
		<collection property="courseId" column="courseId"
			select="com.student.dao.StudyDao.findStudentId">
		</collection>
	</resultMap>

	<select id="findCourseName" resultMap="findCourse">
		select courseName,courseRoom  
		from tb_course
		<where>
			courseId in
			<foreach collection="courseId" open="(" close=")" separator=","
				item="courseId">#{courseId}</foreach>
		</where>
	</select>
	<!-- 根据学生id查询成绩和对应的课程信息 -->
	<select id="findScore" resultType="com.student.vo.Score">
		select * from tb_score
	</select>
</mapper>